################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Firechat/Firechat/bin
/Firechat/Firechat/obj/Debug
/.vs
/Firechat/.vs/Firechat
/Firechat/packages
