################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Firechat/Firechat/bin
/Firechat/Firechat/obj/Debug
/.vs
/Firechat/.vs/Firechat
/Firechat/packages
/Firechat/Firechat/App_Data/aspnet-Firechat-20191226045105_log.ldf
/Firechat/Firechat/App_Data/aspnet-Firechat-20191226045105.mdf
